{% extends "base.html" %}

{% block content %} 
    <div class='text-center'>
        <h1>Sobre o Projeto</h1>
        <p align="justify ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projeto realizado pela organização SoberanosTeam composta por Davi Chagas Silva, Francisco Vitor Felix de Aquino, Jefter Roberto Mota Targino e Veridiano Francisco da Silva, todos os alunos de Ciência da Computação, da disciplina de Programação Avançada do 5º período da UERN - Campus Central, ministrada pelo professor Alysson Mendes de Oliveira.</p>
    </div>
    
{% endblock %}
